<% include header %>
    <h1>修改学生信息</h1>
    <form method="post">
        <ul>
            <% for(var i = 0; i < result.length; i++) { %>
            <li>
                学工号：<input type="text" name="student_id" value=<%= result[i].studentId %>>
                领取地址：<input type="text" name="name" value=<%= result[i].name %>>
                发布时间：<input type="text" name="sdate" value=<%= result[i].sdate %>>
                备注：<input type="text" name="remark" value=<%= result[i].remark %>>
                <input hidden type="text" name="_id" value=<%= result[i]._id %>>
                <input type="radio" name='num' value=<%= i %> checked="checked">
            </li>
            <% } %>
        </ul>
        <button type="submit">确定</button>
    </form>
<% include footer %>